<ul>
    <% for(let i=0;i<schedules.length;i++){ %>
      <li>
          <!-- <a href="http://localhost:5000/articles/<%=i%>"> -->
              user ID: <%=schedules[i].user_id%>, day: <%=schedules[i].day%>, start at <%=schedules[i].start_at%>, end at <%=schedules[i].end_at%> 
          <!-- </a> -->
      </li>
    <% } %>
  </ul>
  <a href="/">Homepage</a>