  <table>
    <tr>
      <td>User ID</td><td>Day</td><td>Start at</td><td>End at</td><td>User details</td>
    </tr>
    <% for(let i=0;i<schedules.length;i++){ %>
      <tr>
        <td><%=schedules[i].user_id%></td>
        <td> <%=schedules[i].day%> </td>
        <td><%=schedules[i].start_at%></td>
        <td><%=schedules[i].end_at%></td>
        <td><a href="http://localhost:3000/users/<%=schedules[i].user_id%>" class="tableButton">Show details</a></td>
      </tr>
    <% } %>
  </table>
 <a href="/userSchedules" class="button">Show my schedules</a>
 <a href="/logout" class="button">Log out</a>