<p>First name: <%=user.firstname%></p>
<p>Lastname: <%=user.lastname%></p>
<p>E-mail: <%=user.email%></p>
<p>Password: <%=user.password%></p>
<a href="<%= url %>/schedules">Show me schedules</a>
<a href="/users">Go back</a>
<a href="/">Homepage</a>

